<%= form_for @artwork, :html => { :class => "form-horizontal artwork" } do |f| %>

  <% if @artwork.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @artwork.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :source_file_file_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :source_file, :class => 'form-control' %>
    </div>
    <%=f.error_span(:source_file) %>
  </div>
  
  <div class="form-group">
    <%= f.label :style_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :style_id, Style.all.map{|style| [style.image_file_name, style.id, {"data-img-src": style.image.url(:thumb)}]}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:style_id) %>
  </div>
 
  <div class="form-group">
    <%= f.label :ext_arg, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ext_arg, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ext_arg) %>
  </div>
  


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                artworks_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
